.deleteButton {
  width: 28%;
  background-color: #cb3a3a;
  color: white;
  border: none;
  margin: 5px;
  cursor: pointer;
}

.error {
  border: 1px solid red;
}

.error-message {
  color: red;
  font-size: 12px;
}

button.deleteButton {
  background-color: rgba(255, 0, 0, 0.48);
}

button.experienceButton {
  background-color: green;
}
