h1 {
  color: darkgreen;
  text-align: center;
}

h2 {
  color: orange;
}

.formContainer {
  width: 50%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #666;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-container {
  background-color: #333;
  color: white;
  width: 50%;
  margin: auto;
  border: 1px solid #666;
  margin-top: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-container > p,
ul {
  margin: 5px;
  padding-left: 0px;
}

.formData-context {
  font-weight: bold;
}

.error-message {
  color: red;
  font-size: 12px;
}

button {
  width: 80%;
  margin: 10px;
  padding: 10px;
  background-color: #666;
  color: white;
  border: none;
  cursor: pointer;
}

button[type="submit"] {
  background-color: blue;
}

.closeButton {
  width: 28%;
  background-color: #cb3a3a;
  color: white;
  border: none;
  margin: 5px;
  cursor: pointer;
}
