body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.multi-select-box {
  border: 1px solid #ccc;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}

.option {
  background-color: #f9f9f9;
  padding: 5px;
  margin: 2px;
  cursor: pointer;
}

.option.selected {
  background-color: #007bff;
  color: #fff;
}
